
@{
    ViewData["Title"] = "Error404";
}

<h1>Ups! Page not found!!!</h1>

<style>
    .h1{
        text-align: center;
        color: palevioletred;
        border-block-end: solid, 2px;
        border-block-end-color: yellowgreen;
    }
</style>

