
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1>Your email has been confirmed!</h1>
<br/>

<p>
    Thank you for your confirmation. 
    <br>
    Please login again to access our site and enjoy it!
</p>

