@model AirFiel_Mariana_Oliveira.Models.CitiesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cities</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name">Capital</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName">Country</label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flags">Country Flags</label>
                <input asp-for="Flags" class="form-control" type="file" />
                <span asp-validation-for="Flags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airport" class="control-label"></label>
                <input asp-for="Airport" class="form-control" />
                <span asp-validation-for="Airport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary" style="background-color: wheat">
                    <i class="fa fa-city" style="color: olive"></i> Edit
                </button>
            </div>
        </form>
    </div>
</div>

<div class="col-md-4">
    <img src="@Url.Content(Model.Flags)" alt="Image" style="width:400px; height:350px; margin-left: 450px; margin-top: -410px;">
</div>

<div>
    <a asp-action="Index" style="font-size: 20px; color:darkgoldenrod;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
