@model AirFiel_Mariana_Oliveira.Models.TicketsViewModel
@{
    ViewData["Title"] = "AddTicket";
}

<h1>Add Ticket</h1>

<div class="row">

    <div class="col-md-4">
        <form asp-action="AddTicket">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CC" class="control-label"></label>
                <input asp-for="CC" class="form-control" />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NIF" class="control-label"></label>
                <input asp-for="NIF" class="form-control"/>
                <span asp-validation-for="NIF" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IdaEVolta" /> @Html.DisplayNameFor(model => model.IdaEVolta)
                </label>
                </div>

            <div class="form-group">
                <label asp-for="Passengers" class="control-label"></label>
                <input asp-for="Passengers" class="form-control"/>
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary" style="background-color: cadetblue">
                    <i class="fa fa-plane-departure" style="color: whitesmoke"></i> Create
                </button>
                <a asp-action="Create" class="btn btn-success" style="font-size: 15px; color: darkgoldenrod;">Back to List</a>
            </div>
        </form>
    </div>

</div>

