
@{
    ViewData["Title"] = "PlaneNotFound";
}
<style>
    h1 {
        text-align: center;
        color: palevioletred;
        border-block-end: solid, 2px;
        border-block-end-color: yellowgreen;
    }

    .h1 animate {
        animation-delay: -2s;
        animation-duration: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }
</style>


<h1>Plane Not Found!!!</h1>

