@model AirFiel_Mariana_Oliveira.Models.SaveRouteIdViewModel
@{
    ViewData["Title"] = "SaveRoute";
}

<h1>Do you want to save this route?</h1>

<br/>
<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveRoute">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>

            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary" style="background-color: cadetblue">
                    <i class="fa fa-globe-europe" style="color: whitesmoke"></i> Save 
                </button>
                <a asp-action="Index" class="btn btn-success" style="font-size: 20px; color: whitesmoke;">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }}

