
@{
    ViewData["Title"] = "ConfirmEmail";
}

<style>

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        color: darkorange;
        text-align: center;
    }

    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        color: black;
        text-align: left;
    }

    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        color: black;
        text-align: left;
    }

    luck {
        font-family: 'Segoe UI';
        font-size: 32px;
        color: deepskyblue;
        text-align: left;
        animation-delay: 1s;
    }
    

</style>

<h1>Welcome to our team!!</h1>

<h2>We are so glad you could join us.</h2>

<br />

<p>This is just a confirmation page and you are now able to work.</p>

<br />

<p>Please LogOut and reenter with your password.</p>

<br />

<p id="luck">Good Luck!!</p>

